<h1>New Employee</h1>
<%= form_tag employees_path do %>
    <label>Employee First Name:</label><br>
    <%= text_field_tag :'employee[first_name]' %><br>
  
    <label>Employee Last Name:</label><br>
    <%= text_area_tag :'employee[last_name]' %><br>

    <label>Employee Alias:</label><br>
    <%= text_area_tag :'employee[alias]' %><br>

    <label>Employee Title:</label><br>
    <%= text_area_tag :'employee[title]' %><br>

    <label>Employee Office:</label><br>
    <%= text_area_tag :'employee[office]' %><br>

    <label>Employee Dog ID:</label><br>
    <%= text_area_tag :'employee[dog_id]' %><br><br>


    <label>Employee Picture:</label><br>
    <%= text_area_tag :'employee[img_url]' %><br>
  
    <%= submit_tag "Submit Post" %>
  <% end %>