<h1>Employee:</h1>
<h1><%= @employee.first_name %> <%= @employee.last_name %> <h1><br>
<div><%= @employee.alias %><div>
<div><%= @employee.title %><div>
<div><%= @employee.office %><div>
<div><%= image_tag(@employee.img_url) %><div>
