<h1> Employee Info: </h1>
<div>
  <h2><%= @employee.to_s %></h2>
    <div>
      <h5><%= @employee.alias %></h5>
      <h5><%= @employee.title %></h5>
      <h5><%= @employee.office %></h5>
      <h5> <img src=<%= @employee.img_url %>> </h5>
    </div>
</div>